:root {
  --bg: #f5f5f5;
  --panel: #ffffff;
  --text: #333;
  --muted: #888;
  --accent: #000;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--bg);
  color: var(--text);
}

.container {
  display: flex;
  min-height: 100vh;
  padding: 20px;
  gap: 20px;
}

/* Sidebar 居中 */
.sidebar {
  width: 220px;
  background: var(--panel);
  border-radius: 12px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 垂直居中 */
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  position: relative;
}

.logo {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
  margin-top: -100px;
}

/* 导航 */
nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: var(--muted);
  font-size: 13px;
  letter-spacing: 1px;
  transition: 0.3s;
}

nav a.active, nav a:hover {
  color: var(--accent);
  font-weight: 600;
}

/* 主题切换 */
.theme-toggle {
  margin: 20px 0;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* 社交与版权固定在底部 */
.social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
}

.social a {
  color: var(--muted);
  transition: 0.3s;
}

.social a:hover {
  color: var(--accent);
}

.copyright {
  position: absolute;
  bottom: 20px;
  text-align: center;
  font-size: 11px;
  color: var(--muted);
  width: 100%;
}

/* Main */
.main {
  flex: 1;
  background: var(--panel);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  max-width: 600px;
  padding: 30px;
}

.avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lead {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 15px;
  color: var(--text);
}

.iam {
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Dark Mode */
.dark {
  --bg: #111;
  --panel: #1a1a1a;
  --text: #eee;
  --muted: #aaa;
  --accent: #fff;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  background: var(--panel);
  padding: 20px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  margin-bottom: 24px;
  border-left: 4px solid var(--accent);
  width: 900px;
}

.card h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  gap: 15px;
}

.card p {
  color: var(--muted);
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0 16x;
  max-width: 900px;
  text-align: left;
}

.card a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}